__pycache__/
*.py[cod]
*.tar
*.tar.gz

.env
.venv/
venv/

data/
quantized_models/
production_predictions/
transformer_outputs/
mlruns/
outputs/
plots/
plots_residual_transformers/
distilled_models/

TRANSFORMERS_PREDAP/.env
TRANSFORMERS_PREDAP/site/
TRANSFORMERS_PREDAP/CCLR_PREDAP/site/
TRANSFORMERS_PREDAP/**/__pycache__/
